#entire {
    background-image: url("../images/court.jpg");
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 900px;
    width: 850px;;
    margin: 0 auto;
}

.hide {
    display: none;
}
.left {
    position: relative;
    top: 40px;
    left: 70px;
    float: left;
    
}
.right {
    position: relative;
    top: 40px;
    right: 70px;
    float: right;
    
}
.clear {
    clear: both;
}
h1 {
    text-align: center;
}
#reset-container {
    text-align: center;
    position: relative;
    top: 450px;
}

#winner {
    position: relative;
    font-size: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: black;
    color: yellow;
    text-align: center;
    top: 130px;
}
.shotlog {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    width: 200px;
    height: 250px;
    left: 325px;
    top: 434px;
   
    background-color: #fd813d;
}

#countdown, #countdown-message {
    position: relative;
    top: 130px;
    display: none;
    width: 200px;
    margin: 0 auto;
    color: yellow;
    background-color: black;
    text-align: center;
}

#teamone-shoot-button, #teamtwo-shoot-button {
    width: 100px;
    height: 100px;
    background-color: #fd813d;
    border-radius: 50%;
    border-width: 0px;
    margin-top: 10p;
}
#reset-button {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    border-width: 0px;
    margin-top: 10p;
    color: white;
   
}
.up {
    position: relative;
    float: left;
    left: 70px;
    top: -60px;
}
.down {
    position: relative;
    float: right;
    right: 40px;
    top: -60px;
    
}
.left h2 {
    position: relative;
    top: -80px;
    left: -2px;
    font-size: x-large;

}
.right h2 {
    position: relative;
    top: -80px;
    right: -55px;
    font-size: x-large;

}